project-build/*
!project-build
!project-build/eplus
!project-build/eplus/info.txt
B3/*
B3
!runs/
runs/*
*.cmake
*.lhe
*.hepmc
*.*~

*.cc~

hepmcex02build/*
testbuild/*
testbuild/
!testbuild/info.txt
backup/
backup/*
standardPlots
standardPlots/*
4PlotsInelastic/standard-build/
4PlotsInelastic/standard-build/*
inelastic-build/
inelastic-build/*
inelasticValidation/standard-build/*

